@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-heading: "Iosevka Etoile", sans-serif;
  --font-normal: "Iosevka Aile", sans-serif;
}

:root {
  --radius-surface: 1rem;
}

.rounded-surface {
  border-radius: var(--radius-surface);
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  font-family: "Iosevka Aile", sans-serif;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  overflow-x: auto; /* Standard property */
  -ms-overflow-x: hidden; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

