---
import Container from "./Container.astro";
---

<header>
  <Container>
    <div class="py-20">
      <nav class="space-x-5">
        <a href="/" class="text-gray-300 hover:text-white">home</a>
        <a href="/blog" class="text-gray-300 hover:text-white">blog</a>
      </nav>
    </div>
  </Container>
</header>
