---
import Container from "./Container.astro";
---

<header transition:persist>
  <Container>
    <div class="py-20">
      <nav class="space-x-5">
        <a href="/" class="text-gray-300 hover:text-white">home</a>
        <a href="/now" class="text-gray-300 hover:text-white">now</a>
        <a href="/blog" class="text-gray-300 hover:text-white">blog</a>
        <a href="/reading" class="text-gray-300 hover:text-white">reading</a>
        <a href="/music" class="text-gray-300 hover:text-white">music</a>
        <a href="/portfolio" class="text-gray-300 hover:text-white">portfolio</a
        >
      </nav>
    </div>
  </Container>
</header>
