---
import { formatDistanceToNow } from "date-fns";

interface Props {
  title: string;
  icon: any;
  time?: string;
}

const { title, icon, time = new Date().toISOString() } = Astro.props;

const formattedTime = !isNaN(Date.parse(time))
  ? formatDistanceToNow(new Date(time), { addSuffix: true })
  : time;
---

<li class="group ml-8 pb-2">
  <span
    class="absolute -left-[31px] flex h-14 w-14 items-center justify-center rounded-full border-4 border-zinc-900 bg-zinc-800/50 backdrop-blur-sm text-xl transition-all duration-300 group-hover:scale-110 group-hover:border-zinc-700"
  >
    {icon}
  </span>
  <div class="flex flex-col gap-2 translate-y-[-12px]">
    <time class="text-sm font-mono text-zinc-500">{formattedTime}</time>
    <h3 class="text-lg font-medium text-zinc-100 leading-tight">{title}</h3>
    <div
      class="text-zinc-400 prose-a:text-blue-400 hover:text-zinc-300 transition-colors"
    >
      <slot />
    </div>
  </div>
</li>
