---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body class="bg-zinc-900 text-white">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
